.history-card-body {
  padding: 0.6rem;
}

@media (min-width: 768px) {
  .history-container {
    height: 0;
    min-height: 100%;
  }
}

.history-container {
  max-height: 30rem;
  flex-direction: column;
  overflow-y: scroll;
}

p {
  margin-bottom: 0rem;
}

.card {
  margin-bottom: 0.5rem;
}